:host {
  line-height: 1;
}

$small: 25px;
$large: 40px;

img {
  display: inline-block;
  width: $large;
  height: $large;
  border-radius: $large;

  &.small {
    width: $small;
    height: $small;
    border-radius: $small;
  }

  background-color: red;
}
