<div class="profile">
  <mat-card class="large-centred-content">
    <mat-card-header>
      <mat-card-title color="primary"> Profile </mat-card-title>
    </mat-card-header>
    @if ({ currentProfile: currentProfile$ | async }; as observable) {
      <mat-card-content class="profile-content">
        <div class="profile-users">
          View Profile:
          <app-list [selected]="observable.currentProfile" (selectUser)="selectProfile($event)" />
        </div>
        @if (observable.currentProfile) {
          <div class="profile-view">
            <!--  Exercise 1: Use new created ProfileViewComponent and pass currentProfile as parameter. -->
          </div>
        }
      </mat-card-content>
    }
  </mat-card>
</div>
